body {background-color:royalblue; 
    margin-left: 30  }

header{
    margin-top: 70;
}




h1{ color: rgb(255, 196, 0);

 font-family: fantasy;

} 
h2{color: rgb(255, 196, 0);
    font-family: fantasy;
}
image{
    margin-bottom: 20;
}